* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: blanchedalmond;
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    align-items: center;
    gap: 5em;
    min-height: 100vh;
}

header {
    margin-top: 1em;
    border: 1px black solid;
}

#calculator {
    border: 1px green solid;
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    gap: 1em;
    width: 20em;
    height: 30em;
}

#display {
    border: 1px purple solid;
    background-color: azure;
    display: flex;
    flex: 1 1 auto;
    height: 3.5em;
    width: 100%;
    font-size: x-large;
}

#btn-grid {
    border: 1px orange solid;
    flex: 3;

    display: flex;
    flex-direction: column;
}

.btn-row {
    border: 1px blue solid;
    display: flex;
    flex:1
}

.btn {
    border: 1px red solid;
    flex: 1;
}
#equals{
    flex:2.015;
}

footer {
    background-color: black;
    color: white;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}